.button {
  height: 46px;
  padding: 0 28px;
  background-color: #ff9900;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;

  &--light {
    border: 1px solid #bcd0e5;
    background: transparent;
    color: #173a56;
  }
}

